<!DOCTYPE html>
<html>
<header>
<title>Socialtool</title>
<link href='https://fonts.googleapis.com/css?family=Inknut Antiqua' rel='stylesheet'>
<style>
    body {
			font-family: Arial, sans-serif;
			background-color: #FBF4F4;
		}
		
		h1 {
			color: #333;
			text-align: left;
			font-family:'Inknut Antiqua';
			margin-left: 20px;
			margin-bottom: 40px;
		}
		
		a {
			text-decoration: none;
			color: #111211;
			margin-left: 20px;
		}
		
		a:hover {
			color: #f9670c;
		}
</style>
</header>
<body>
<h1>Congratulations!!! Your post is being posted on twitter</h1>
<a href="homepage.html">Go to home page</a>
</body>
</html>
